.card {
  width: 30%;
  height: 150px;
  border: solid black 1px;
  border-radius: 5px;
  background-size: cover !important;
}

.card-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}